# Tệp .gitignore được tạo tự động bởi VS Code
# https://github.com/github/gitignore/blob/main/Java.gitignore

*.class

# Bỏ qua các tệp tạm thời của IDE
.mtj.tmp/
.project
.classpath
.settings/
.idea/
.vscode/

# Bỏ qua các file build của Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Bỏ qua các file log
*.log
logs/

# Thư mục dữ liệu (JSON, logs) do Server tạo ra
# /data/

# Tệp đặc trưng của hệ điều hành
.DS_Store
Thumbs.db